<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="Scorder lets you scan, customize, and order with ease. From breakfast to late-night cravings, experience a smarter way to dine at any time.">
<link rel="icon" href="/static/assets/images/scorder_logo_teal.png" type="image/png">
<title>Scorder | Scan & Order</title>
<link rel="stylesheet" href="/static/assets/css/tool/all.min.css" /> <!-- fontawesome -->
<link href="/static/assets/css/tool/sweetalert2.min.css" rel="stylesheet" type="text/css" />
<link href="/static/assets/css/tool/datatables.min.css" rel="stylesheet" type="text/css" />
<link href="/static/assets/css/tool/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="/static/assets/css/global-style.css?v=20250724" rel="stylesheet" type="text/css" />
<link href="/static/assets/css/navbar.css?v=20240825" rel="stylesheet" type="text/css" />
