{% load static %}

<!DOCTYPE html>
<html>

<head>
    {%include 'head_top.html'%}
    <link href="/static/assets/css/loading.css" rel="stylesheet" type="text/css" />
    <link href="/static/assets/css/dish_management.css" rel="stylesheet" type="text/css" />
</head>

<body>
    {%include 'navbar_staff.html'%}
    <section>
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-md-12 col-xs-12">
                    <div class="title-header">
                        <h3 id="title-text">Item Management</h3>
                    </div>
                    <hr class="mt-0"/>
                    <table id="dish-management-table" class="display">
                        <thead>
                           <tr>
                              <th>Item Name</th>
                              <th>Price</th>
                              <th>is Sold Out</th>
                              <th>Sold Out?</th>
                           </tr>
                        </thead>
                        <tbody>
                            {% for dish in dishes %}
                           <tr class="{% if dish.is_sold_out %}sold-out{% endif %}">
                                <td class="dish-name">{{ dish.name }}</td>
                                <td>${{ dish.price }}</td>
                                <td>
                                    <div class="dish-status
                                    {% if dish.is_sold_out %}status-no
                                    {% else %}status-yes 
                                    {% endif %}">{% if dish.is_sold_out %}Yes{% else %}No{% endif %}</div>
                                </td>
                                <td>
                                    <div class="input-group">
                                        <input type="checkbox" data-dish-id="{{ dish.dish_id }}" 
                                        {% if dish.is_sold_out %} checked {% endif %}/>
                                    </div>
                                </td>
                           </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
    {%include 'footer.html'%}
</body>

<script>
    $(document).ready(function () {
        $('input[type="checkbox"]').change(function () {
            const checkbox = $(this);
            const dishId = checkbox.data('dish-id');
            const isSoldOut = checkbox.is(':checked');

            $.ajax({
                url: '{% url "mark_dish_sold_out" %}',
                method: 'POST',
                data: {
                    'dish_id': dishId,
                    'is_sold_out': isSoldOut,
                },
                dataType: 'json',
                headers: { 'X-CSRFToken': getCookie('csrftoken') },
                success: function () {
                    console.log("Dish status updated");
                    const row = checkbox.closest('tr');
                    const soldOutCell = row.find('td:nth-child(3)>div');

                    if (isSoldOut) {
                        row.addClass('sold-out');
                        soldOutCell.removeClass('status-yes');
                        soldOutCell.addClass('status-no');
                        soldOutCell.text('Yes');
                    } else {
                        row.removeClass('sold-out');
                        soldOutCell.removeClass('status-no');
                        soldOutCell.addClass('status-yes');
                        soldOutCell.text('No');
                    }
                },
                error: function () {
                    console.log("Error updating dish status");
                },
            });
        });
    });

    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === name + '=') {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
</script>
<script>
    $(document).ready(function() {
        $('#dish-management-table').DataTable({
            responsive: true,
            pageLength : 5,
            autoWidth: false,
            language: {
                paginate: {
                    next: '❯',
                    previous: '❮'
                }
            },
            columns: [
                { width: '60%' },
                { width: '15%' },
                { width: '15%' },
                { width: '10%' }
            ]
        });     
    });
</script>

</html>